body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #1aa9d1 0%, #3944ac 100%);
  color: #1a1c20;
}

/*navbar*/

nav {
  background-color: #091540;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  height: 80px;
}

nav .left a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 500;
}

nav .mid a {
  text-decoration: none;
  color: white;
  margin: 0 10px;
}

nav .right button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #578fca;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  transition: 0.1s;
}

nav .right button:hover {
  filter: brightness(0.9);
}

/*home*/

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 130px;
  margin: 50px 0;
  margin-bottom: 100px;
  gap: 60px;
  word-wrap: break-word;
}
.home .text h2 {
  font-size: 40px;
}

.home .headshot img {
  width: 350px;
  border: 5px solid #000000;
  border-radius: 50%;
}

.home button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #578fca;
  box-shadow: 2px 2px 2px #091540;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 100px;
  cursor: pointer;
  transition: 0.1s;
}

.home p {
  font-size: 20px;
  font-weight: 600;
  color: #343434;
}

.home button:hover {
  filter: brightness(0.9);
}

/*about*/

.about {
  text-align: center;
  padding: 0 130px;
  margin-bottom: 100px;
}

.about h2 {
  font-size: 35px;
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 2rem 0;
}

.details-container {
  padding: 1.5rem;
  background: white;
  border-radius: 20px;
  border: 0.1rem solid rgb(163, 163, 163);
  flex: 1;
  transition: transform 0.15s;
}

.details-container:hover {
  transform: scale(1.02);
}

.details-container h3 {
  font-size: 22px;
}

.about-text {
  font-size: 19px;
  margin: 10px auto;
}

/*skills*/

.skills {
  padding: 0 110px;
  margin-bottom: 100px;
}

.skills h2 {
  text-align: center;
  font-size: 35px;
}

.skills .cells {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skills .cells .cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 300px;
  padding: 20px 20px;
  margin: 10px;
  border: 2px solid none;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 2px 7px #3d518c;
  transition: transform 0.15s;
}

.skills .cells .cell:hover {
  transform: scale(1.02);
}

.skills .cells .cell span {
  font-size: 18px;
  font-weight: 600;
}
.skills .cells .cell img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border-radius: 2px;
}

/*projects*/

.pro-sec h2 {
  text-align: center;
  font-size: 35px;
}

.pro-sec .projects {
  display: flex;
  padding: 0 130px;
  justify-content: space-evenly;
  gap: 25px;
}

.box {
  padding: 20px;
  width: 90%;
  max-width: 400px;
  background-color: #87ceeb;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #1e2e5d;
  word-wrap: break-word;
  overflow-wrap: break-word;
  transition: transform 0.15s;
}

.box:hover {
  transform: scale(1.02);
}

.box .box-img {
  height: 300px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-size: cover;
  border-radius: 3px;
}

.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}

/*Contact*/
.cont-sec {
  padding: 0px 130px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.cont-sec h2 {
  font-size: 35px;
  text-align: center;
}

.cont-sec .group {
  display: flex;
  gap: 50px;
}
.cont-sec .group .text {
  flex: 3;
  padding: 20px 50px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: #eeeff1;
}

.cont-sec .group .text a {
  text-decoration: none;
  color: black;
}

.cont-form {
  background-color: #eeeff1;
  border-radius: 10px;
  border: 2px solid black;
  flex: 3;
  padding: 20px 50px;
}
.cont-sec .group form {
  display: flex;
  flex-direction: column;
}

.cont-sec .group form input,
.cont-sec .group form textarea {
  font-family: "Poppins", sans-serif;
  border: 2px solid #000000;
  padding: 10px;
  margin-bottom: 15px;
  outline: none;
  resize: none;
  border-radius: 5px;
}

.cont-sec .group form button {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color: #578fca;
  box-shadow: 2px 4px 3px #091540;
  border-radius: 5px;
  border: none;
  height: 50px;
  cursor: pointer;
  transition: 0.1s;
}

.cont-sec .group form button:hover {
  filter: brightness(0.9);
}

footer {
  text-align: center;
  background-color: gray;
  height: 50px;
}
